html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    user-select: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.top {
    display: flex;
    flex-direction: row;
    background-color: #555;
}

.top-drag {
    flex: 1;
    padding: 0.5rem;
    -webkit-app-region: drag;
    color: white;
}

.top-close {
    background-color: #555;
    padding: 0.5rem;
    font-weight: 500;
    color: white;
}

.top-close:hover {
    background-color: red;
}

.options {
    padding: 1rem;
}

.options-table {
    width: 100%;
}

.replay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

input[type="text"] {
    width: 100%;
}

td:first-of-type {
    width: 10rem;
}

.big {
    font-size: 2rem;
    margin: 1rem;
    font-weight: 600;
}